body, html {
  height: 100%;
  margin: 0;
  cursor: pointer;
}


.bg {
  background-image: url("./slike/s11.jpg");
  height: 100%; 
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}


/* Navbar*/

.main-nav {
	display: flex;
	list-style: none;
	font-size: 1.5em;
	background-color: #000009;
	margin: 0;

}

/*.main-nav a:hover {
  background-color: #ddd;
  color: black;
}*/

@media only screen and (max-width: 700px) {
    .main-nav {
        font-size: 0.8em;
        padding: 0;
    }
}

.push {
    margin-left: auto;
}

li {
    padding: 20px;
    color: #f5f5f6;
}

a {
	color: #f5f5f6;
	text-decoration: none;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}



/*footer*/

footer {
    text-align: center;
    background-color: #000009;
    color: white;
    font-size: 3em;
    position: fixed;
    bottom: 0;
    width: 100%;


}